{% extends "base.html" %}

{% block content %}
  <div class="jumbotron">
    <div class="container">
      <h1>
        比赛
      </h1>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/moment@2.30.1/min/moment-with-locales.min.js"></script>  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% for match in matches %}
        <div class="card mb-3" onclick="window.location.href='{{ url_for('matches.detail', match_id=match.id) }}'" onmouseover="this.style.cursor='pointer'">
		      <div class="card-body">
            <h3 class="mt-0 mb-2">{{ match.name }}</h3>
            比赛时间：<script>document.write(moment("{{ match.start }}").locale('zh-cn').format("LLLL"));</script>-<script>document.write(moment("{{ match.end }}").locale('zh-cn').format("LLLL"));</script><br>
            报名截止时间：<script>document.write(moment("{{ match.registration_deadline }}").locale('zh-cn').format("LLLL"));</script><br>
            <span class="badge bg-primary mt-2">
              {% if match.max_team_size == 1 %}
                个人赛
              {% else %}
                团队赛
              {% endif %}
            </span>
            {% if match.max_team_size > 1 %}
              <span class="badge bg-info mt-2">
                最多{{ match.max_team_size }}人
              </span>
            {% endif %}
            <script>
              if (moment("{{ match.registration_deadline }}").isBefore(moment())) {
                document.write('<span class="badge bg-danger mt-2">报名已截止</span>');
              } else {
                document.write('<span class="badge bg-success mt-2">报名进行中</span>');
              }
            </script>
          </div>
		    </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}