{% extends "base.html" %}

{% block content %}
  {% include "matches/jumbotron.html" %}
  <div class="container">
    {% include "matches/navbar.html" %}
    {% include "components/errors.html" %}
    <div id="score-graph" class="d-flex align-items-center">
      <div class="col-md-12 text-center">
        <i class="fas fa-circle-notch fa-spin fa-3x fa-fw spinner"></i>
      </div>
    </div>

    <table class="table table-striped">
      <thead>
      <tr>
        <td>队伍名称</td>
        <td>得分</td>
      </tr>
      </thead>
      <tbody>
        {% for matchteam in scoreboard %}
          <tr>
            <td>{{ matchteam.name }}</td>
            <td>{{ scoreboard[matchteam] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block scripts %}
  {{ Assets.js("assets/js/scoreboard.js") }}
  <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
  <script defer>
    var chart = echarts.init(document.getElementById('score-graph'));
    fetch("{{ url_for('matches.scoreboard', match_id=match.id) }}", {
      method: "POST",
      headers: {
        "Content-type": "application/x-www-form-urlencoded; charset=UTF-8",
      },
      body: "nonce=" + init.csrfNonce
    }).then(response => response.json()).then(data => {
      console.log(data);
      //each key in data is a team name, and the value is an array of scores with time
      var series = [];
      for (var team in data) {
        series.push({
          name: team,
          type: 'line',
          data: data[team]
        });
      }
      chart.setOption({
        title: {
            left: "center",
            text: "{{ match.name }}趋势"
        },
        tooltip: {
            trigger: "axis",
            axisPointer: {
                type: "cross"
            }
        },
        legend: {
            type: "scroll",
            orient: "horizontal",
            align: "left",
            bottom: 35,
            data: Object.keys(data)
        },
        toolbox: {
            feature: {
                dataZoom: {
                    yAxisIndex: "none"
                },
                saveAsImage: {}
            }
        },
        grid: {
            containLabel: !0
        },
        xAxis: [{
            type: "time",
            boundaryGap: !1,
            data: []
        }],
        yAxis: [{
            type: "value"
        }],
        dataZoom: [{
            id: "dataZoomX",
            type: "slider",
            xAxisIndex: [0],
            filterMode: "filter",
            height: 20,
            top: 35,
            fillerColor: "rgba(233, 236, 241, 0.4)"
        }],
        series: series
      });
    });
  </script>
{% endblock %}
