<table class="table">
  <thead>
    <tr>
      <th>名称</th>
      <th>分类</th>
      <th>分值</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    {% for challenge in match.challenges %}
    <tr>
      <td><a href="{{ url_for('admin.challenges_detail', challenge_id=challenge.id) }}">{{ challenge.name }}</a></td>
      <td>{{ challenge.category }}</td>
      <td>{{ challenge.value }}</td>
      <td>
        <form action="{{ url_for('admin.matches_challenges_remove', match_id=match.id) }}" method="post">
          <input type="hidden" name="challenge_id" value="{{ challenge.id }}" />
          <input type="hidden" value="" name="nonce" class="nonce" />
          <button type="submit" class="btn btn-danger">移除</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<form action="{{ url_for('admin.matches_challenges_add', match_id=match.id) }}" method="post">
  <div class="form-group">
    <label for="challenge_id">添加赛题</label>
    <select class="form-control" id="challenge_id" name="challenge_id">
      {% for challenge in challenges %}
      <option value="{{ challenge.id }}">{{ challenge.name }}</option>
      {% endfor %}
    </select>
    <input type="hidden" value="" name="nonce" class="nonce" />
  </div>
  <button type="submit" class="btn btn-primary">添加</button>
</form>